.box {
    border: 1px solid rgba(255, 255, 255, 0.123);
    width: 80%;
    min-height: 20px;
    height: auto;
    padding: 30px;

    margin: 0 auto;
    border-radius: 5px;
    margin-top: 155px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    flex-wrap: nowrap;
    flex-direction: column;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    animation: move-top 0.3s linear 1;
}

@keyframes move-top {
    0% {
        margin-top: 220px;
        opacity: 0;

    }

    100% {
        margin-top: 155px;
    }
}

.box.removeal {

    z-index: -1;
    height: 0;
    margin-top: 0;
    filter: blur(15px);
    opacity: 0;
    padding: 0 30px;


}

.t-type.removeal {
    height: 0 !important;
    padding: 0 0px;
    overflow: hidden;
    border-color: transparent;
    margin: 0;

}

.t-type .t-title.workbc.bc {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0)), url("https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d29ya3xlbnwwfHwwfHx8MA%3D%3D") !important;
}

.t-type .t-title.studybc.bc {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0)), url("https://imgs.search.brave.com/0cVIkEV73l2oknqOglgU-MGJIznHIKnL-pYEbEBhPwc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDIwMzYw/MDQuanBn") !important;
}

.t-type .t-title.bc {
    background-size: 100% auto;
    background-position: 50%;
    height: 150px !important;
    object-fit: contain;

}

.t-type {
    position: relative;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.048);
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px 0px;
    overflow: visible;
    transition: 0.5s;


}

.preview .t-type::-webkit-scrollbar {
    width: 2px;
    border-radius: 10px;
    /* Adjust the width as needed */
}

.preview .t-type::-webkit-scrollbar-thumb {
    background-color: #2c2c2c;
    /* Color of the thumb */
    border-radius: 5px;
    /* Border radius of the thumb */
}

.preview .t-type::-webkit-scrollbar-track {
    background-color: #f1f1f100;
    /* Color of the track */
}

/* Optional: Hide the scrollbar when not hovered */
.preview .t-type:hover::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.preview .t-type:hover::-webkit-scrollbar-track {
    background-color: #1f1f1f;
}

.preview .t-type {
    width: 100%;
    height: 100%;

    overflow-y: scroll;
}

.isUp {

    background-color: rgba(82, 0, 0, 0.212);
    border: 1px rgb(192, 0, 0) solid;
    box-shadow: 0 0 5px 1px rgba(255, 0, 0, 0.37);

    animation: circles 0.5s ease-in-out 1;
    overflow: hidden;
    position: relative;
    --c: red;
    filter: grayscale(0.7);
}

.isUp .boxesCont {
    filter: grayscale(1);
}

.isUp::after {
    content: "";
    width: 200%;
    height: 100%;
    background-image: linear-gradient(45deg, transparent,
            transparent,
            rgba(0, 0, 0, 0),
            rgba(31, 0, 0, 0.322),
            rgba(255, 0, 0, 0), rgba(0, 0, 0, 0),
            rgba(255, 0, 0, 0.158),
            rgba(0, 0, 0, 0),
            rgba(31, 0, 0, 0.322),
            transparent);
    animation: mover 10s linear infinite;
    background-repeat: repeat;
    background-size: 50% 100%;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 400;
    z-index: -100;
    filter: blur(50px);

}

@keyframes mover {
    0% {
        transform: translate(0%, 0);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

@keyframes circles {
    0% {
        clip-path: circle(10% at 50% 0%);
        box-shadow: 0 0 50px 1px var(--c);
        background-color: var(--c);
    }

    100% {
        clip-path: circle(100%);
    }
}

.t-type .t-cont-t {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.205);
}

.t-type .t-cont-t .t-title {
    position: relative;


    font-weight: 700;

    color: white;
    text-shadow: 0 0 5px black, 0 0 15px rgba(0, 0, 0, 0.336);
    background-color: rgba(255, 255, 255, 0.233);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0));

    width: calc(100%);
    padding: 10px 10px;
    font-size: calc(0.7vw + 15px);


}




.t-type .boxesCont {

    position: relative;
    max-width: calc(100%);
    border-radius: 3px;

    width: max-content;

    border: 1px solid rgba(255, 255, 255, 0.226);
    background-color: rgba(255, 255, 255, 0.055);

    display: grid;

    height: 62.5px;


    transition: 0.1s;
    gap: 5px;
    padding: 20px;
    overflow-x: auto;

}

.t-type.isUp .boxesCont {
    opacity: 0.7;
    user-select: none;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.295);


}

.t-type .boxesCont .t-Box-checked {
    background-color: rgb(0, 255, 0) !important;
}

.t-type .boxesCont .t-Box {


    border: 1px solid rgba(255, 255, 255, 0.137);
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 0px;
    width: 40px;
    height: 40px;



    opacity: 0;


    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    color: white;
    display: none;
    user-select: none;


}

.t-type .boxesCont:hover .t-Box {
    opacity: 0.8;
}

.t-type .boxesCont:hover .t-Box:hover {
    border: 1px solid rgb(195, 0, 255);
    box-shadow: 0 0 3px 1px rgba(195, 0, 255, 0.301);
    opacity: 1;
    background-color: rgb(51, 19, 63);
    text-shadow: 0 0 5px rgb(0, 0, 0);

}

.t-Box.animate-colors {

    display: flex !important;
    animation: coloring 0.5s linear 1;



}

@keyframes coloring {

    0% {

        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.t-timer {
    padding: 10px;
    width: 100%;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.048);
    color: white;
    font-weight: 500;

}

.custom-element {
    position: absolute;
    min-height: 60px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(7px);
    display: flex;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.062), rgba(255, 255, 255, 0));
    opacity: 1;
    transition: 0.3s;
    padding: 10px;
    overflow: hidden;
    animation: move-x 0.2s linear 1;
}

@keyframes move-x {
    0% {
        padding: 0;
        height: 50px;
        width: 0;

    }

    100% {}
}

.custom-element .in {
    background-color: #1f1f1f2c;
    padding: 10px;
    border: #ffffff0a 1px solid;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    height: max-content;
    border-radius: 5px;
    gap: 10px 0;
}

.menuCategory {
    width: 100%;
    height: max-content;
    background-color: #3b3b3b80;
    padding: 10px;
    font-weight: 700;

    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

}

.menuCategory i {
    transition: 0.3s;
}

.custom-element:hover .menuCategory i {
    transform: rotate(-45deg);
}

.menuCategory * {
    font-size: 20px;
}

.deletion {
    background-color: #3b3b3b80;
    border-radius: 3px;
    outline: none;
    border: rgb(43, 43, 43) 1px solid;
    transition: 0.5s;
    color: white;
    padding: 5px 10px;
    width: max-content;
    height: max-content;
    cursor: pointer;
    margin-left: 15px;
}

.deletion:hover {
    background-color: rgb(161, 0, 0);
    border: rgb(80, 0, 0) 1px solid;
}

.t-btn {

    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.178);

    color: white;
    font-weight: 600;
    font-size: calc(0.7vw + 10px);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    height: 0;
    overflow: hidden;

}

.t-btn[finished=true] {


    height: 40px !important;
    border: 1px solid rgba(255, 255, 255, 0.158);

}

.t-btn[finished=true]:hover {

    background-color: rgba(255, 255, 255, 0.082);
    letter-spacing: 1px;
    border: rgba(102, 102, 102, 0) 1px solid;


}

.t-title .date {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    border: rgba(34, 34, 34, 0) 1px solid;
}

.hoverUp {
    position: relative;

}

.hoverUp::before {
    content: "Ending Date";
    position: absolute;
    top: -50%;
    left: 50%;
    padding: 5px;
    width: max-content;
    transform: translate(-50%, 0%);
    background-color: rgb(110, 110, 110);
    border-radius: 5px;
    transition: 0.3s;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.hoverUp::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50%);
    transform: translate(-50%, -0px);
    width: 0px;
    height: 0px;
    opacity: 0;
    border: black 10px solid;
    border-color: rgb(110, 110, 110) transparent transparent transparent;
    transition: 0.3s;
}

.hoverUp:hover::before {
    top: calc(-50% - 10px);
    color: white;
    opacity: 1;
}

.hoverUp:hover::after {
    opacity: 1;
    transform: translate(-50%, -10px);
}

.t-title .date:hover {

    text-shadow: 0 0 15px rgba(0, 0, 0, 0.479);

}

.sad,
.happy {
    position: relative;
}

.isUp.happy {
    background-color: rgba(0, 77, 82, 0.212);
    border: 1px rgb(0, 186, 192) solid;
    box-shadow: 0 0 5px 1px rgba(0, 217, 255, 0.37);
    --c: rgb(0, 255, 221);
    filter: grayscale(0.2);
}

.isUp.happy::after {
    background-image: linear-gradient(45deg, transparent,
            transparent,
            rgba(0, 0, 0, 0),
            rgba(0, 27, 31, 0.322),
            rgba(0, 255, 255, 0), rgba(0, 0, 0, 0),
            rgba(0, 255, 255, 0.158),
            rgba(0, 0, 0, 0),
            rgba(0, 31, 29, 0.322),
            transparent);
}

.sad::before,
.happy::before {
    content: "";
    background-image: url("angry.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 100%;
    width: 25px;
    height: 25px;
    opacity: 1;
    transform: translate(-100%, 0);
    border-radius: 50px;
    animation: sadd 1s linear infinite alternate-reverse;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.445);
    transition: 0.3s;
    z-index: 50;
    top: 0;

}

.happy::before {
    background-image: url("happy.png");


}

.sad:hover::before,
.happy:hover::before {
    scale: 1.2;
}

@keyframes sadd {
    0% {
        transform: translate(-100%, 0) scale(1.05) rotate(3deg);

    }

    100% {
        transform: translate(-100%, 0) scale(1) rotate(-5deg);
        filter: contrast(1.5);
    }

}

.boxesCont::-webkit-scrollbar {
    width: 0px;
    height: 2px;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--bc);
}

@media only screen and (max-width: 300px) {
    .box {
        padding: 5px;
    }
}

@media only screen and (max-width: 600px) {

    .t-type .boxesCont {
        width: min-content !important;
        grid-template-columns: repeat(auto-fit, 40px) !important;
        grid-template-rows: auto !important;
    }

}