.createType {
    border: 1px solid rgba(255, 255, 255, 0.048);
    width: 80%;
    height: max-content;
    padding: 30px;

    border-radius: 5px;
    margin: 105px auto;
    display: flex !important;
    justify-content: space-between;
    flex-wrap: nowrap;
    transition: 1s;
    position: relative;

}

@media only screen and (max-width: 600px) {

    .createType,
    .box {
        padding: 5px;
        width: 98%;
        border-color: rgba(255, 255, 255, 0.041);
    }

    .createType .t-cont .in-put-cont.t-half-medium {
        width: 100% !important;
    }

    .createType .t-cont .in-put-cont.t-half-small {
        width: 100% !important;
    }

    .createType .t-cont .in-put-cont.t-half-big {
        width: 100% !important;

    }

}

.createType .t-cont {
    height: max-content;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.123);
    width: calc(50% - 40px);
    padding: 15px;
    background-color: var(--back-suggest-color);
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.384));
    border-radius: 5px;
    padding-top: 35px;
    gap: 10px;

}

.createType .t-cont span.title .txt {
    animation: animateGradient 3s linear infinite;
    background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff00, #ffffff, #ffffff);
    transition: background-position 9s linear;
    background-size: 400% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.createType .selector {
    width: 100% !important;
}

.createType .t-cont .in-put-cont:hover {

    border-color: rgba(255, 255, 255, 0.616);
    box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.116);
    cursor: pointer;
}


.createType .t-cont span.title {
    position: absolute;
    background-color: var(--sug-back-normal);
    border: 1px solid rgba(255, 255, 255, 0.233);
    box-shadow: 5px 0 15px 1px rgba(0, 0, 0, 0.267);
    width: max-content;
    height: max-content;
    border-radius: 5px;
    padding: 10px 20px;
    letter-spacing: 2px;
    font-weight: 600;
    color: rgb(163, 163, 163);
    top: 0;
    left: 0;
    transform: translate(10%, -50%);
}

@keyframes animateGradient {
    0% {
        background-position: 0 50%;
    }

    100% {
        background-position: 100% 50%;
    }

}

.createType .preview {}

.createType .t-cont .t-in.center {
    text-align: center;

}

.createType .t-cont .t-in {

    width: 100%;
    height: 40px;
    font-size: 18px;
    border-radius: 0;
    background-color: transparent;
    border: none;
    border-left: none;
    padding: 5px 5px;
    color: white;
    outline: none;

}

.createType .t-cont .in-put-cont {
    display: flex;
    align-items: center;
    height: calc(400px/6 - 20px);
    width: 100%;
    padding: 1px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.185);
    flex-wrap: nowrap;
    border: 1px rgba(255, 255, 255, 0.151) solid;
    border-radius: 3px;
    transition: 0.3s;

}

.createType .t-cont .in-put-cont.t-half-medium {
    min-width: calc(30% - 10px);
    width: calc(50% - 10px);
}

.createType .t-cont .in-put-cont.t-half-small {
    min-width: calc(30% - 10px);
    width: calc(50% - 10px);
}

.createType .t-cont .in-put-cont.t-half-big {
    min-width: calc(30% - 10px);
    width: calc(50% - 10px);

}



.createType .t-cont .tlabel {
    font-size: 16px;
    color: white;
    border-radius: 0;
    position: relative;
    background-color: var(--sug-back-normal);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.384));
    height: 100%;
    width: max-content;
    padding: 0 10px;
    font-weight: 600;
    border-right-color: rgba(255, 255, 255, 0.123);
    border-right-width: 2px;
    box-shadow: 5px 0 15px 1px rgba(0, 0, 0, 0.103);
    border-radius: 0 3px 3px 0;
    border-right-style: solid;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    z-index: 1;
}

select {
    padding: 8px;
    font-size: 16px;

}

/* Style the selected option */
option:checked {
    background-color: var(--pink);
    color: black;
    font-weight: 600;

}

option {
    background-color: rgba(0, 0, 0, 0.205);
    background-image: none;
    color: white;
    padding: 7px !important;
    height: 50px;
    backdrop-filter: blur(5px);
    user-select: none;
}

.t-disabled.in-put-cont {
    opacity: 0.2;
    user-select: none;
    pointer-events: none;
}

.createType .t-cont .t-btn-p.createTypePreview {
    background-color: rgba(0, 217, 255, 0.137);
}

.createType .t-cont .t-btn-p {

    background-color: rgba(0, 255, 0, 0.137);
    border: none;
    outline: none;
    height: 50px;
    color: white;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.384);
    width: 48%;
    transition: 0.5s;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.137);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0);
    letter-spacing: 3px;
}

.createType .t-cont .t-btn-p:hover {
    background-color: rgba(0, 255, 0, 0.596);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.466);
    letter-spacing: 1px;

}

.createType .t-cont .t-btn-p.createTypePreview:hover {
    background-color: rgb(0, 217, 255);

}

@media only screen and (max-width: 950px) {



    .createType {
        flex-wrap: wrap;
        height: auto;
        gap: 35px 0;

    }

    .createType .t-cont {
        width: 100%;
    }

    .createType .t-cont .in-put-cont.t-half-medium {
        width: calc(50% - 10px);

    }

    .createType .t-cont .in-put-cont.t-half-small {
        width: calc(50% - 10px);

    }

    .createType .t-cont .in-put-cont.t-half-big {
        width: calc(50% - 10px);

    }

}

.createType.marks .m-1 {
    display: none;
}

.createType.marks .m-2 {
    display: flex;
}

.createType.numbers .m-1 {
    display: flex;
}

.createType.numbers .m-2 {
    display: none;
}

.adder {
    padding: 10px;
    position: absolute;
    right: 0;
    transform: translate(-100%, 0);
    color: white;
    font-weight: 800;
    background-color: rgb(44, 44, 44);
    border-radius: 3px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
}

.adder:hover {
    background-color: rgb(29, 29, 29);

}

.t-add-cont {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    border: rgba(255, 255, 255, 0.048) 1px solid;
    padding: 10px;
    border-radius: 3px;
    flex-wrap: nowrap;
}

.t-add-cont .line:hover {
    background-color: rgba(0, 0, 0, 0.185);
    opacity: 0.8;
    padding: 10px 15px;
}

.t-add-cont .line {
    padding: 10px;
    border: rgba(255, 255, 255, 0.027) 1px solid;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.t-add-cont .line:hover::before {
    transform: translate(-100%, -50%);
    opacity: 1;
    filter: blur(0px);
    color: red;
}

.t-add-cont .line::before {
    position: absolute;
    content: "✖";
    right: 0;
    top: 50%;
    opacity: 0;
    filter: blur(15px);
    transform: translate(150%, -50%);
    color: var(--border);
    font-weight: 600;
    transition: 0.2s;

}