.box.full .pl-sug-cont {
    gap: 0px;
}

.box.full .pl-sug-cont .playlist-cont {

    width: max-content !important;
    padding: 0;

}

.box.full .pl-sug-cont .playlist-cont .video {
    margin: 10px 0;
}

.box.full .pl-sug-cont .playlist-cont .video .v-title {
    display: none;
}

.box.full .pl-sug-cont .playlist-cont .music .heading {
    opacity: 0;
}

.box.full .pl-sug-cont .playlist-cont .column-box {
    padding: 0 10px;
}

.box.full .pl-sug-cont .playlist-cont .music {
    top: 0;
    left: 0;
    position: absolute;
    height: 0;
    opacity: 0;
    padding: 0;
}

.box.full .pl-sug-cont .playlist-cont .video .pause {

    position: absolute;
    font-size: 35px;
    top: 50%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.733);
    z-index: 100;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.box .pl-sug-cont {
    width: 100%;
    transition: 0.4s;

}

.box .pl-sug-cont .playlist-cont {
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 3px;
    width: 60%;
    height: 400px;
    transition: 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.048);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;



}

.box.full .playlist-cont {
    width: 10%;
}

.playlist-cont .music {
    margin: 10px;
    width: calc(100% - 10px);
    height: max-content;
    overflow: hidden;
    background-color: var(--back-suggest-color);
    padding: 20px 0;

    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}


.playlist-cont .music .heading {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;

    width: max-content;
    transition: 0.4s;
    height: max-content;
}


.playlist-cont .column-box {
    overflow-y: scroll;
    border: 1px solid rgba(255, 255, 255, 0.048);
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    color: white;
}

.playlist-cont .column-box .video.active {
    background-color: rgb(28, 35, 63);
}

.playlist-cont .column-box .video {
    width: 100%;
    min-height: 20px;
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--back-suggest-color);
    transition: 0.3s;
    cursor: pointer;
    overflow: hidden;
    margin: 10px 0;

}

.playlist-cont .column-box .video .vaudio {
    display: none;
}

.playlist-cont .column-box .video:before {

    height: 25%;
    content: "";
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0));
    bottom: 0;
    left: 0;

    transform: translate(0, 100%);
    transition: 0.3s;
    z-index: 50;
}

.playlist-cont .column-box .video:hover:before {

    transform: translate(0, 0);
}

.playlist-cont .column-box .video:hover {
    padding-top: 10px;
    padding-bottom: 20px;
}

.playlist-cont .column-box .video .icon {
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px rgba(255, 255, 255, 0.096) solid;
}

.playlist-cont .column-box .video .icon:hover img {
    transform: translate(-50%, -50%) scale(1.1);
    cursor: pointer;
}

.playlist-cont .column-box .video .icon img {
    transition: 0.3s;
    width: max-content;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-position: 50% 50%;
}

.playlist-cont .column-box .video .pair {
    align-items: center;
}

.playlist-cont .column-box .video .v-title {
    color: var(--button-suggest-color);
    height: 100%;
    display: flex;
    width: 50%;
    font-size: 18px;
}

.playlist-cont .column-box .video .pause:hover {
    color: white;

}

.playlist-cont .column-box .video .pause {
    color: var(--button-suggest-color);
    height: 100%;
    transition: 0.3s;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
}

.playlist-cont .column-box .video .videobc {
    width: 100%;
    height: auto;
    object-fit: contain;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);
    transition: 0.3s;

}

.playlist-cont .column-box .video .videobc::before {
    background-color: black;
    width: 100%;
}

.playlist-cont .column-box .video:hover .videobc {
    opacity: 0.1;
    filter: blur(7px);
    transform: translate(-50%, -50%) rotate(0deg);
}

.box .pl-sug-cont .sug-cont .sug-sel {

    flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) {


    .box.full .pl-sug-cont {
        flex-direction: row !important;
    }

    .box .pl-sug-cont {
        flex-direction: column;
    }



    .box .pl-sug-cont .sug-cont .sug-sel .expand {
        display: none;
    }

    .box .pl-sug-cont .sug-cont,
    .box .pl-sug-cont .playlist-cont {
        width: 100%;
    }
}