body {
    background-color: var(--bc);
}

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --nav-fixed: rgb(13, 17, 31);
    --nav-color: rgb(9, 16, 27);
    --bc: rgb(0, 0, 10);
    --bc-light: rgb(27, 28, 36);
    --bc-btns-light: rgb(25, 23, 32);
    --bottom-nav: rgb(0, 12, 26);
    --btn-active: rgb(87, 108, 136);
    --btn-new: rgba(255, 255, 255, 0.075);
    --nav: rgb(2, 0, 20);

    --sug-back-hover: rgb(5, 8, 31);
    --sug-back-search-hover: rgb(21, 29, 51);
    --sug-back-normal: rgb(27, 32, 48);

    --button-suggest-color: rgb(69, 105, 151);
    --button-suggest-color-text: rgb(152, 187, 233);
    --button-suggest-color-3: rgba(0, 119, 255, 0.219);
    --button-suggest-color-2: rgb(0, 255, 64);


    --back-suggest-color-2: rgba(0, 0, 0, 0.397);
    --back-suggest-color: rgb(9, 16, 27);

    --search-color: rgb(0, 27, 43);

    --border: rgba(19, 57, 180, 0.479);
    --border2: rgb(11, 32, 104);


    --fill: rgba(0, 48, 136, 0.473);

    --black-gradient-to-left: linear-gradient(to left, rgba(0, 0, 0, 0.4), transparent);
    --black-gradient-to-right: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
    --black-gradient-to-bottom: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
    --black-gradient-to-top: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);

    --white-gradient-to-left: linear-gradient(to left, rgba(255, 255, 255, 0.1), transparent);
    --white-gradient-to-right: linear-gradient(to right, rgba(255, 255, 255, 0.1), transparent);
    --white-gradient-to-bottom: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), transparent);
    --white-gradient-to-top: linear-gradient(to top, rgba(255, 255, 255, 0.1), transparent);

    --t-title: rgb(14, 19, 34);
    --t-title-hover: rgb(21, 29, 51);
    --border-opacity: rgb(27, 33, 54);
    --black-gradient-fade-in-out: linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, transparent 10%, transparent 90%, rgba(0, 0, 0, 0.4) 100%);
    --nor-radius: 5px;
    --med-radius: 10px;
    --ult-radius: 15px;
}


.turnof {

    position: absolute;
    top: 50%;
    left: 50%;

    background-color: rgba(255, 255, 255, 0.082);
    border-radius: var(--med-radius);
    font-size: 70px;
    transform: translate(-50%, -50%);
    color: white;
    background-image: var(--black-gradient-to-left);
    padding: 20px 40px;
    transition: 0.3s;
    cursor: pointer;
}

.turnof:hover {
    padding-left: 30px;
    transform: translate(-50%, -50%) scale(1.2);
}


.nav {
    position: relative;
    width: 100%;

    background-color: var(--nav);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 250px;
}

.nav .bac {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0.4;

}

.nav .bac video,
iframe {
    position: absolute;



    width: 100%;
    height: 110vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

@keyframes spin {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100%);
    background-color: var(--nav);
    z-index: 0;
}

.nav .navlinks {
    width: 100%;
    height: 50px;
    background-color: var(--bottom-nav);
    position: absolute;
    bottom: -50px;
    transition: 0.3s;

}


.navbar-fixed {
    position: fixed !important;
    top: 0;
    left: 0;

    overflow: visible !important;

    background-color: var(--nav-fixed) !important;
    border-bottom: var(--border2) 1px solid;
    height: 60px !important;

    z-index: 600;
}

.navbar-fixed .nav-ul .m-link::before {
    position: absolute;
    content: ""
    ;
}

.navbar-fixed .nav-ul .m-link {
    z-index: 800;
}

.navbar-fixed .nav-ul li:hover {}

.navbar-fixed .nav-ul,
.navbar-fixed .clock {
    margin: 15px auto !important;
    z-index: 800;
}

.disabled::before {
    content: "We're working on it";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    opacity: 1;
    animation: moving-imp 3s linear alternate-reverse infinite, shadows 3s linear infinite;
    background-color: var(--nav-color);
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 30px white;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
}

@keyframes shadows {

    0% {

        text-shadow: 0 0 0px rgba(255, 255, 255, 0);
    }

    100%,
    20% {

        text-shadow: 0 0 30px white;
    }
}

.disabled {
    overflow: hidden;
}

.disabled .category {
    opacity: 0.4 !important;
    user-select: none;

    pointer-events: none;
}

.navbar-fixed::before {
    content: "";
    width: calc(100% - 30px);
    height: calc(100%);
    background-color: var(--nav-color) !important;
    background-image: var(--black-gradient-fade-in-out);
    position: absolute;
    z-index: 700;
    top: 15px;
    border-bottom: var(--border2) 2px solid;
    left: 15px;
    transition: 0.3s ease-out;
    border-radius: var(--nor-radius);
    box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.562);
}

ul {
    list-style: none;
    list-style-type: none;
}



.nav .nav-list {
    height: 100%;
    font-weight: 600;
    width: max-content;
    display: none;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 20px;
    z-index: 800;
    position: absolute;
    top: calc(50%);
    transform: translate(15px, -50%);
    cursor: pointer;
}

.navbar-fixed.merge {
    opacity: 0;
    transform: translate(0, -100%) scale(1.1);

}

.navbar-fixed.merge .nav-ul li {}

@media only screen and (max-width: 600px) {

    .nav .navlinks {
        padding: 0 15px;
    }

    .nav .navlinks .nav-ul {

        align-items: flex-start !important;

        display: none !important;
    }

    .nav .navlinks .clock {
        right: 2% !important;

    }

    .nav .navlinks .nav-list {
        display: flex !important;
        position: absolute !important;

    }

    .nav.clicked .navlinks .nav-list {
        display: flex !important;
        position: relative !important;
    }

    .nav .navlinks.navbar-fixed .nav-list {
        top: calc(50% + 15px);
        position: absolute !important;

    }






}

.nav.clicked .bac {
    height: 350px !important;


}

body {
    min-height: 100vh;
    height: max-content;
}

.nav.clicked {
    width: 100% !important;
    min-height: 100vh !important;
    height: max-content !important;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    top: 0 !important;
    left: 0 !important;
    position: relative !important;
}

.nav.clicked .navlinks {
    position: relative;
    min-height: 100vh;
    height: max-content;
    padding: 15px 0;
    align-items: flex-start;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px 0;
    z-index: 4000;


}

.nav.clicked .navlinks .nav-list {

    height: max-content;
    display: flex !important;
    width: 100%;
    justify-content: center;
    position: relative;
    transform: none;
    font-size: 25px;
    z-index: 5000;

}

.nav.clicked .navlinks .nav-ul {
    flex-direction: column !important;
    height: max-content;
    display: flex !important;
    align-items: flex-start;
    gap: 10px;

}

.nav.clicked .navlinks .nav-ul .m-link {
    width: 100%;
    padding: 20px;
}

.nav.clicked .navlinks .nav-ul .m-link.dropdown {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 15px 0;

}

.nav.clicked .navlinks .nav-ul .m-link .drop {
    position: relative;

    display: none;
    height: max-content;
    width: 100%;
    opacity: 1;
}

.clicked .cl-visible {
    display: flex !important;
}

.nav.clicked .navlinks .clock {
    display: flex;
    position: relative;
    width: 80%;
    height: max-content;
    padding: 15px;
    transform: none;
    left: 0;
    top: 0;
    margin: 0;


}

.nav.clicked .navlinks .nav-ul .m-link.dropdown:hover .drop {
    width: 100%;
    height: max-content;
    opacity: 1;

    animation: none;
}

.nav .navlinks .nav-ul {

    display: flex;
    flex-wrap: nowrap;
    width: max-content;


    color: white;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    font-weight: 700;
    padding: 0;

}

.nav .navlinks .nav-ul .m-link {
    transition: 0.3s;
    cursor: pointer;
    background-color: rgba(61, 57, 68, 0.116);
    height: 100%;
    width: fit-content;
    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 10px; */
    border: rgba(183, 0, 255, 0) 2px solid;
    font-size: calc(0.15vw + 14px);
}

.nav .navlinks .nav-ul:hover .m-link {
    opacity: 0.5;
}

.nav .navlinks .nav-ul:hover .m-link:hover {
    opacity: 1;
    background-color: var(--fill);
}

.nav .navlinks .nav-ul .m-link:hover {
    background-color: rgba(255, 255, 255, 0.185);
    opacity: 0.8;
    border: var(--border) 2px solid;
}

.dropdown {
    position: relative;
    padding-right: 30px !important;
    z-index: 800;
}

.dropdown::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border: solid 7px white;
    border-color: transparent transparent transparent white;
    left: 100%;
    top: 50%;
    transform: translate(-175%, -50%);
    transition: 0.2s;
}

.dropdown:hover::before {
    transform: translate(-175%, -25%) rotate(90deg);
    z-index: 5;
    border-color: transparent transparent transparent white;
}

.dropdown::after {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: 100%;
    display: none;
    background-color: rgba(0, 255, 255, 0);
}

.dropdown .drop {
    position: absolute;
    top: 100%;
    background-color: var(--bottom-nav);
    margin: 0px 0;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.116), rgba(0, 0, 0, 0));
    display: none;

    opacity: 0;
    width: 300px;
    left: 0;





    transition: 0.2s;
    border: var(--border) 2px solid;
    flex-direction: column;
}

.dropdown .drop::before {}

.dropdown .drop .category:hover>span:not(.category li span) {
    opacity: 1;
}

.dropdown .drop .category>span:not(.category li span) {

    padding: 5px;
    margin: 10px 0;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0));
    border-radius: 0 50 50px 0px;
    padding-left: 10px;
    border-left: rgba(255, 255, 255, 0.486) 3px solid;
    position: absolute;
    display: block;
    top: -15px;
    left: 0;
    transform: translate(0, -100%);
    opacity: 0.6;
    transition: 0.4s;
}

.dropdown .drop .category li {
    padding: 7px 0;
    color: rgba(255, 255, 255, 0.767);
    transition: 0.3s;
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 2px;
    padding-left: 3px;
    user-select: none;
    position: relative;

    font-weight: 400;

}

.dropdown .drop .category li.addition,
.dropdown .drop .category li.remove {
    overflow: hidden;
}

.dropdown .drop .category li.addition::before,
.dropdown .drop .category li.remove::before {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0, .69, .41, 1.72);
}

.dropdown .drop .category li.addition::before {
    content: "+10";
    color: rgb(0, 255, 0);
}

.dropdown .drop .category li.remove::before {
    content: "-10";
    color: red;
}

.dropdown .drop .category li.addition:hover::before,
.dropdown .drop .category li.remove:hover::before {
    right: 15px;
    opacity: 1;

}

.dropdown .drop .category li.addition:hover:active::before,
.dropdown .drop .category li.remove:hover:active::before {

    transform: translate(0, -50%) scale(1.5);
    opacity: 1;
    text-shadow: 0 0 15px white;
    right: -100px;

}

.nav .navlinks .clock {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: max-content;
    font-weight: 600;
    background-color: rgba(61, 57, 68, 0.118);
    height: 100%;
    border-radius: 5px;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    padding: 0px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;

}

.nav .navlinks .clock:hover {
    padding-bottom: 5px;
}

.nav .navlinks .clock span.clocking {
    transition: 0.5s;
    overflow: hidden;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}



.nav .navlinks .clock:hover span.clocking {
    opacity: 0;
    scale: 0;
}

.nav .navlinks .clock span.clocknow {
    position: absolute;
    top: 100%;
    transform: translate(0, 100%);
    opacity: 0;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav .navlinks .clock:hover span.clocknow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 1;
}



.sp-style {
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.274);
    border: 1px solid rgba(255, 255, 255, 0.192);
    border-radius: var(--nor-radius);
    margin: 0 5px;
}





.dropdown .drop .category li:active {
    background-color: rgba(255, 255, 255, 0.301);
    border: 1px solid rgba(255, 255, 255, 0.856);
}

.dropdown:hover .drop .category li:hover {
    padding-left: 10px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.301);


    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0));
}

.dropdown:hover::after {
    display: block;
}

.dropdown:hover .drop {
    display: flex;
    opacity: 1;
    margin: 20px 0;
    padding: 10px;
    animation: dropdown 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
}

@keyframes dropdown {
    0% {
        height: 0;
        opacity: 0;
        padding: 0;
        overflow: hidden;
    }

    100% {
        opacity: 1;
        padding: 10px;
        overflow: hidden;
    }

}

.dropdown:hover .drop.d-one {

    height: var(--height-one);
}

.dropdown:hover .drop.d-two {

    height: var(--height-two);
}

.dropdown:hover .drop.d-three {

    height: var(--height-three);
}

.dropdown:hover .drop .category:hover {
    background-color: rgba(255, 255, 255, 0.123);


}

.dropdown:hover .drop .category {
    opacity: 1;

}

.dropdown .drop .category {
    width: 100%;
    margin: 5px 0;
    background-color: rgba(0, 0, 0, 0.123);
    border: 1px solid rgba(255, 255, 255, 0.185);
    padding: 10px;
    border-radius: var(--nor-radius);
    margin-top: 35px;
    position: relative;
    transition: 0.2s;
    transition-delay: 0.15s;
}

.dropdown .drop .category li:hover:active {

    padding-left: 5px;

}

.dropdown .drop .category li span {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block;
    height: 100%;
    padding: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--btn-new);
    font-weight: 600;
    border: rgba(66, 0, 141, 0.247) 1px solid;
    color: rgb(255, 255, 255);
    opacity: 1;
    overflow: hidden;
}

.dropdown .drop .category li span::before {
    content: "This feature added from a while, explore it!";
    color: white;
    position: absolute;
    background-color: var(--bottom-nav);

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.055), rgba(255, 255, 255, 0.068), rgba(255, 255, 255, 0));
    border: 1px solid var(--border);

    padding: 10px;
    border-radius: 3px;
    width: max-content;
    left: 70px;
    top: 50%;
    font-size: 16px;
    font-weight: 400;
    transform: translate(0, -50%);
    height: max-content;
    opacity: 0;
    transition: 0.3s;
}


.dropdown .drop .category li span.new:hover {
    overflow: visible;
}

.dropdown .drop .category li span.new:hover::before {
    opacity: 1;
}

.title {
    width: 80%;
    height: 250px;
    color: rgb(219, 219, 219);
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto;
    align-items: center;
    z-index: 1;
}

.title h3 {
    font-size: 30px;
}

.title span i {
    font-size: 40px;
}

.dropdown .drop .category li.active {
    color: white !important;
    background-color: var(--btn-active);

}

.zero {
    height: 0;
}


.labe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    cursor: pointer;
    z-index: 4;
    margin: 10px 0;
}


.labe:hover {
    color: rgba(255, 255, 255, 0.712);
}


.toggle-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;


    width: 43px;
    height: 23px;
    background-color: var(--btn-active);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0));
    border: 1px solid rgba(255, 255, 255, 0.281);
    border-radius: 50px;
    cursor: pointer;
    position: relative;

}

/* Style the slider (thumb) inside the checkbox */
.toggle-checkbox::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    transform: translate(0, -50%);
    transition: 0.3s;
}

/* When the checkbox is checked, move the slider to the right */
.toggle-checkbox:checked::before {
    transform: translate(-100%, -50%);
    left: calc(100% - 3px);
}

.dropdown .drop .category.roles li span:hover {
    opacity: 1;
}

.dropdown .drop .category.roles li:hover span {
    background-color: transparent;
    border-color: transparent;
}

.dropdown .drop .category.roles li[status="locked"] span,
.dropdown .drop .category.roles li[status="locked"] {

    opacity: 0.3 !important;

}

.dropdown .drop .category.roles li span {
    width: 85%;
    background-color: transparent;
    background-image: linear-gradient(to left, rgb(72, 47, 185), rgba(118, 47, 185, 0));
    border: none;
    opacity: 0.7;
    justify-content: flex-end;

}

li[status="locked"] .fa-key {
    display: none;
}

li[status="unlocked"] .fa-key {
    padding: 5px;
}

li[status="locked"] .fa-lock {
    padding: 5px;
}

li[status="unlocked"] .fa-lock {

    display: none;

}

.fa-coins {

    padding: 5px;
}




li[status="unlocked"][card="rainbow"] span {}

li[status="unlocked"][card="rainbow"].active::after {

    background-color: var(--btn-active) !important;
    opacity: 1;

}

li[status="unlocked"][card="rainbow"] {
    position: relative;
    overflow: hidden;
    z-index: 2;
    padding: 10px;

}

li[status="unlocked"][card="rainbow"]::after {
    position: absolute;
    content: "";
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-color: #2f1d4c;

}

.category li[status="unlocked"][card="rainbow"]::before {
    position: absolute;
    content: "";
    width: 250px;
    height: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: conic-gradient(red,
            orange,
            yellow,
            green,
            blue,
            indigo,
            violet);
    z-index: -2;
    animation: rotation 3s linear infinite;
    transform-origin: 50%;
    filter: blur(5px);
}

.category:hover {

    background-color: rgba(0, 0, 0, 0.24) !important;

}

@keyframes rotation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.sound {}

.navlinks .includer {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}


@media only screen and (max-width: 600px) {

    .nav .navlinks .nav-ul {
        flex-direction: column;
    }

    .navlinks .includer {
        justify-content: flex-end;
        margin: 0;
        width: 100%;
    }
}